.tasks.index-page
  .display-4 Task List
  %p.text-muted.mb-2 Here you will see the entire list of created tasks, you can create a new task, edit it or delete it if you are the creator of it
  .card.bg-gray
    .card-body.pb-2
      .tasks-container
        - @tasks.each do |task|
          .task-container
            .task-info
              .task-title
                %span.small= "[#{task.code}]"
                = task.name
                %span.task-category
                  = task.category.name
              .task-description= task.description
              .task-dates
                %b= task.owner.email
                = "created at #{l task.created_at, format: :long} / due date is #{task.due_date}"
            .task-interactions
              .task-participants
                - task.participants.includes(:user).each do |participant|
                  .task-participant{ class: "task-participant--#{participant.role}" }
                    = image_tag "https://robohash.org/#{participant.user.email}?size=60x60", title: participant.user.email
              .task-actions
                .dropdown
                  %button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
                    .fas.fa-ellipsis-v
                  .dropdown-menu{"aria-labelledby" => "taskMenu"}
                    = link_to 'Show', task, class: 'dropdown-item'
                    = link_to 'Edit', edit_task_path(task), class: 'dropdown-item'
                    = link_to 'Destroy', task, :method => :delete, :data => { :confirm => t('common.are_you_sure') }, class: 'dropdown-item'                              

:javascript
  OSORIO.tasks.index.setup();