.categories.index-page
  .card
    .card-body
      %h1 Listing categories
      %table.table
        %thead
          %tr
            %th Name
            %th Description
            %th
            %th
            %th

        %tbody
          - @categories.each do |category|
            %tr
              %td= category.name
              %td= category.description
              %td= link_to 'Show', category
              %td= link_to 'Edit', edit_category_path(category)
              %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br
      .text-right
        = link_to 'Nueva Categoría', new_category_path, class: 'btn btn-info'
        = link_to 'New Category', new_category_path
