-# app/views/layouts/_navbar.html.haml
%nav.navbar.navbar-dark.bg-dark-blue
  %a.navbar-brand
    = image_tag 'logo.png', class: 'ms-4 d-inline-block align-top ', width: 85
  .dropdown
    %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
      %span.navbar-toggler-icon    
    %ul.dropdown-menu
      %li.dropdown-item
        %a{ href: root_path } Index
        %span.sr-only (current)
      %li.dropdown-item
        %a{ href: categories_path } Categories
  = link_to 'New task', new_task_path, class: 'btn btn-light ml-2'
  .dropstart.dropstart-user.me-2
    %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
      = image_tag "https://robohash.org/#{current_user.email}?size=38x38" if current_user
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "userMenu"}
      .dropdown-item.small.text-right= current_user.email if current_user
      .dropdown-divider
      = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
        .fas.fa-sign-out
        Sign out